<div class="list_of_chronotype">
  <h2 class="title_of_list">クロノタイプ4種類の一覧</h2>
  <h3>朝型</h3>
  <ul>
    <li>全人口の15%ぐらい</li>
    <li>楽観的、現実的</li>
    <li>バリバリの朝方</li>
    <li>必要な睡眠の量は7時間ぐらい</li>
  </ul>

  <h3>昼型</h3>
  <ul>
    <li>全人口の50%ぐらい</li>
    <li>親切、開放的で楽しいことが好き</li>
    <li>知らない場所や知らない人が相手だと緊張する</li>
    <li>昼にかけた能力が全開になる</li>
    <li>7時間以上の睡眠時間が必要</li>
  </ul>

  <h3>夜型</h3>
  <ul>
    <li>全人口の15〜20%ぐらい</li>
    <li>創造性が高い気分屋</li>
    <li>感情に沿って行動しがち</li>
    <li>バリバリの夜型</li>
    <li>必要な睡眠の量は7時間ぐらい</li>
  </ul>

  <h3>不眠型</h3>
  <ul>
    <li>全人口の10%ぐらい</li>
    <li>知性派、神経質で注意深い</li>
    <li>完璧主義の罠にハマりがち</li>
    <li>かなりの夜型</li>
    <li>必要な睡眠の量は6時間ぐらい</li>
  </ul>
  <button mat-raised-button color="accent" (click)="goBack()">戻る</button>
</div>
