.list_of_chronotype {
  margin: 0;
  background: #d6dce0;
}

.list_of_chronotype .title_of_list {
  font-size: 1.2em;
  background: #71889b;
  padding: 4px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

h3 {
  margin: 0 20px;
}
