.part1_result_wrapper {
  text-align: center;
  margin: 0;
  background: #d6dce0;
}

.part1_result_wrapper .wakefulness_result {
  font-size: 1.2em;
  background: #71889b;
  padding: 4px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.wakefulness_characteristic {
  text-decoration: underline;
}

button {
  margin: 10px;
}
