<div class="part1_result_wrapper">
  <!-- 不眠型だった時 -->
  <div *ngIf="(part1TotalScore$ | async) >= (seven$ | async)">
    <div class="wakefulness_result">
      不眠型です。
    </div>
    <p><strong>不眠型の方は下記の特徴があります。</strong></p>
    <p class="wakefulness_characteristic">
      睡眠時間は短めでも大丈夫で、コツコツと仕事ができる知性的なタイプです。<br />
      完璧主義になりがちのため、優柔不断になる側面もあります。ご注意ください。
    </p>

    <button mat-raised-button color="accent" (click)="goBack()">
      不眠型診断をやり直す
    </button>
    <button mat-raised-button color="accent" routerLink="/list-of-type">
      クロノタイプ一覧
    </button>
  </div>

  <!-- 不眠型ではない時 -->
  <div *ngIf="!((part1TotalScore$ | async) >= (seven$ | async))">
    <div class="wakefulness_result">
      不眠型ではありません！！！！！
    </div>
    <p>
      朝型・昼型・夜型のいずれかの可能性があります。下記の<strong>【診断を続ける】</strong>を押してください。
    </p>
    <button mat-raised-button color="accent" (click)="goBack()">
      不眠型診断をやり直す
    </button>
    <button mat-raised-button color="accent" routerLink="/list-of-type">
      クロノタイプ一覧
    </button>
    <button mat-raised-button color="accent" routerLink="/test-part2">
      診断を続ける
    </button>
  </div>
</div>
