<div class="part2_result_wrapper">
  <!-- 朝型 -->
  <div *ngIf="(part2TotalScore$ | async) <= (totalscore_32$ | async)">
    <div class="part2_result_type">
      朝型です。
    </div>
    <p><strong>朝型の方は下記の特徴があります。</strong></p>
    <p class="time_zone_characteristic">
      早寝早起きの現実的・楽観的なタイプです。<br />仕事熱心でバリバリ働きがちのため、適度な休息を意識しておきましょう。
    </p>
    <button mat-raised-button color="accent" (click)="goBack()">
      朝型・昼型・夜型診断をやり直す
    </button>
    <button mat-raised-button color="accent" routerLink="/list-of-type">
      クロノタイプ一覧
    </button>
  </div>
  <!-- 昼型 -->
  <div
    *ngIf="
      (part2TotalScore$ | async) > (totalscore_32$ | async) &&
      (part2TotalScore$ | async) < (totalscore_48$ | async)
    "
  >
    <div class="part2_result_type">
      昼型です。
    </div>
    <p><strong>昼型の方は下記の特徴があります。</strong></p>
    <p class="time_zone_characteristic">
      午前中に一番活力が上がる好奇心が強く開放的なタイプです。<br />
      ただし、初対面の人に緊張するため、誰かと打ち解けるまでに少し時間のかかる傾向があります。
    </p>
    <button mat-raised-button color="accent" (click)="goBack()">
      朝型・昼型・夜型診断をやり直す
    </button>
    <button mat-raised-button color="accent" routerLink="/list-of-type">
      クロノタイプ一覧
    </button>
  </div>
  <!-- 夜型 -->
  <div *ngIf="(part2TotalScore$ | async) >= (totalscore_48$ | async)">
    <div class="part2_result_type">
      夜型です。
    </div>
    <p><strong>夜型の方は下記の特徴があります。</strong></p>
    <p class="time_zone_characteristic">
      夜更かしが得意な創造性が高い分、気分屋なタイプです。<br />
      朝が弱いため就業時間が早い仕事に就いていると、毎日大変な思いをしやすいです。
    </p>
    <button mat-raised-button color="accent" (click)="goBack()">
      朝型・昼型・夜型診断をやり直す
    </button>
    <button mat-raised-button color="accent" routerLink="/list-of-type">
      クロノタイプ一覧
    </button>
  </div>
</div>
