h3 {
  text-decoration: underline;
}

.top_title_wrapper {
  text-align: center;
}

.top_description_wrapper {
  padding: 0;
  margin: 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  border-bottom: solid 2px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.top_description_wrapper p {
  margin: 2px 0;
  padding: 7px 0;
  text-align: center;
}
.top_login_wrapper {
  text-align: center;
  margin: 0;
  background: #d6dce0;
}

.top_login_wrapper .login_urging {
  font-size: 1.2em;
  background: #71889b;
  padding: 4px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

hr {
  margin: 0;
  border: none;
}

.logout_button {
  margin: 0;
}
