<div class="top_description_wrapper">
  <p>
    項目をポチポチするだけで自分のクロノタイプ（朝方・昼型・夜型・不眠型）を自動で判別してくれるアプリです。
  </p>
</div>

<div class="top_login_wrapper">
  <div class="login_urging">下記からログインしてください。</div>
  <div>
    <p>Googleアカウントをお持ちの方</p>
    <button
      mat-raised-button
      color="primary"
      (click)="loginWithGoogle()"
      routerLink="/test-part1"
    >
      <mat-icon svgIcon="google"></mat-icon>
      Googleでログイン
    </button>
  </div>
  <hr class="hr-text" data-content="or" />
  <div>
    <p>Twitterアカウントをお持ちの方</p>
    <button
      mat-raised-button
      color="warn"
      (click)="loginWithTwitter()"
      routerLink="/test-part1"
    >
      <mat-icon svgIcon="twitter"></mat-icon>
      Twitterでログイン
    </button>
  </div>
  <hr class="hr-text" data-content="or" />
  <div>
    <p>メールアドレスをお持ちの方</p>
    <input type="email" [(ngModel)]="email" placeholder="email" />
    <input type="password" [(ngModel)]="password" placeholder="password" />
    <br />
    <button
      mat-raised-button
      color="accent"
      (click)="loginWithEmailAndPassword()"
      routerLink="/test-part1"
    >
      <mat-icon>mail</mat-icon>
      メールアドレスでログイン
    </button>
  </div>
  <hr class="hr-text" data-content="or" />
  <div>
    <p>アカウント持ってないけど、とりあえずの方</p>
    <button
      mat-raised-button
      color="basic"
      (click)="loginAnonymously()"
      routerLink="/test-part1"
    >
      <mat-icon svgIcon="anonymous3"></mat-icon>
      匿名でログイン
    </button>
  </div>
</div>
