<div *ngIf="(user | async) || {} as user">
  <div class="top_title_wrapper">
    <h1>クロノタイプ診断</h1>
  </div>
  <div *ngIf="!user.uid">
    <!-- 認証されていない場合 -->
    <app-login></app-login>
  </div>

  <div *ngIf="user.uid">
    <!-- 認証されている場合 -->
    <div class="top_description_wrapper">
      <p>
        こんにちは、uid:【{{ user.uid }}】さん

        <button
          mat-raised-button
          color="primary"
          (click)="logout()"
          class="logout_button"
          routerLink="/"
        >
          ログアウト
        </button>
      </p>
    </div>
    <!-- ChronotypeTest  -->
    <hr />
    <router-outlet></router-outlet>
    <!--  -->
  </div>
</div>
