.top_title_wrapper {
  text-align: center;
}

.top_description_wrapper {
  padding: 0;
  margin: 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  border-bottom: solid 2px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.top_description_wrapper p {
  margin: 2px 0;
  padding: 7px 0;
  text-align: center;
}

hr {
  margin: 0;
  border: none;
}

.logout_button {
  margin: 0;
}
