span.answer {
  cursor: pointer;
  border: solid 2px black;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 2px 2px;
}

div.mat_selection_list {
  background: #6e6e6e;
}
