<h3>Part1では、自分が不眠型かどうかを診断します。</h3>
<p>
  <strong>
    以下の項目の中で自分に当てはまるものを全てチェックしてください。
  </strong>
</p>

<!-- checkList -->
<div class="mat_selection_list">
  <mat-selection-list #p1questions>
    <mat-list-option
      color="accent"
      *ngFor="let part1question of part1questions"
    >
      {{ part1question.text }}
    </mat-list-option>
  </mat-selection-list>
</div>

<button
  mat-raised-button
  color="accent"
  (click)="
    assign_SelectedLength_To_part1TotalScore(
      p1questions.selectedOptions.selected.length
    )
  "
  routerLink="/result-part1"
>
  回答を完了する
</button>
