span {
  cursor: pointer;
  border: solid 2px black;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

.checked {
  font-weight: bold;
  background: skyblue;
}

button {
  margin: 10px;
}

.attention {
  font-weight: bold;
  color: red;
}
