<h3>Part2:朝型・昼型・夜型かを診断</h3>
<p>
  以下の各質問に対して自分に当てはまる選択肢を<strong>１つ</strong>チェックしてください。
</p>

<div>
  <ul>
    <li *ngFor="let part2question of part2questions">
      {{ part2question.text }} <br />
      <ul *ngFor="let i of [0, 1, 2]">
        <label (click)="onSelectChoice(i + 1, part2question)">
          <input type="radio" name="{{ part2question.id }}" />
          <span
            [ngClass]="
              part2question.choices[i].checked === true ? 'checked' : ''
            "
          >
            {{ part2question.choices[i].choice_text }}
          </span>
        </label>
        <br />
      </ul>
    </li>
  </ul>
</div>

<p *ngIf="countChoices() < part2questions.length" class="attention">
  ※まだ {{ part2questions.length - countChoices() }} 問 回答しておりません。
</p>

<button mat-raised-button color="accent" (click)="goBack()">戻る</button>

<button
  mat-raised-button
  color="accent"
  [disabled]="countChoices() < part2questions.length"
  (click)="assign_countTotalScore_To_part2TotalScore(countTotalScore())"
  routerLink="/result-part2"
>
  回答を完了する
</button>
